<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Primary Meta Tags -->
    <title> BestEA.Space 貝斯提亞</title>

    <!-- Fontawesome -->
    <link type="text/css" href="~/Assets/UserPage/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="~/Assets/UserPage/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="~/Assets/UserPage/css/volt.css" rel="stylesheet">

    <!-- JQ -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Fontawesome -->
    <link type="text/css" href="~/Assets/UserPage/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  
    <!-- Notyf -->
    <link type="text/css" href="~/Assets/UserPage/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="~/Assets/UserPage/css/volt.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-md-none">
        <a class=" mr-lg-5" href="@Url.Action("Index", "Home")">
            <div class="h5 font-weight-bold text-white mb-2"> BestEA.Space 貝斯提亞</div>
        </a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    @RenderBody()

    <!-- Core -->
    <script src="~/Assets/UserPage/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Assets/UserPage/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Vendor JS -->
    <script src="~/Assets/UserPage/vendor/onscreen/dist/on-screen.umd.min.js"></script>

    <!-- Slider -->
    <script src="~/Assets/UserPage/vendor/nouislider/distribute/nouislider.min.js"></script>

    <!-- Jarallax -->
    <script src="~/Assets/UserPage/vendor/jarallax/dist/jarallax.min.js"></script>

    <!-- Smooth scroll -->
    <script src="~/Assets/UserPage/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

    <!-- Count up -->
    <script src="~/Assets/UserPage/vendor/countup.js/dist/countUp.umd.js"></script>

    <!-- Notyf -->
    <script src="~/Assets/UserPage/vendor/notyf/notyf.min.js"></script>

    <!-- Charts -->
    <script src="~/Assets/UserPage/vendor/chartist/dist/chartist.min.js"></script>
    <script src="~/Assets/UserPage/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

    <!-- Datepicker -->
    <script src="~/Assets/UserPage/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Simplebar -->
    <script src="~/Assets/UserPage/vendor/simplebar/dist/simplebar.min.js"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Volt JS -->
    <script src="~/Assets/UserPage/assets/js/volt.js"></script>

</body>
</html>