<!DOCTYPE html>
<html lang="en">

<body id="page-top">
    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">全自動外匯交易程式</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">
                        全自動交易系統(EA專家顧問)
                        <br />此交易系統是電腦模擬交易員的下單操作，進行機器交易的過程，電腦會根據預先設定好的交易條件自動地為您買賣交易，投資的贏虧結果取決於自動交易系統策略的制訂。
                    </p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#about">了解更多</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0 font-weight-bold">什麼是EA交易?</h2>
                    <hr class="divider light my-4" />
                    <p class="text-white-75 mb-4">EA 是 EXPERT ADVISOR 的英文縮寫，又稱：專家顧問、智能交易系統、自動化程式交易等。EA 的本質就是一個電腦程式，其主要功能是在滿足特別設定的條件下，傳送交易指令，將交易過程全程轉為自動化，以取代手動下單的方式。在所有的建倉平倉皆以電腦來完成的情況下，全天候運作24小時。</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">我們的優勢</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0 font-weight-bold">我們的優勢</h2>
            <hr class="divider my-4" />
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                        <h3 class="h4 mb-2">節省時間</h3>
                        <p class="text-muted mb-0">一套完整的EA可以同一時間觀察幾百個產品，交易者不必一天24個小時盯著盤面。不必切換不同的商或使用技術分析找訊號，更不必因為注意訊號的出現而錯失了其他交易機會。有了EA後，何時進場與出場都有了即時性依據，全天候的讓交易者自動交易。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">屏除主觀情緒</h3>
                        <p class="text-muted mb-0">雖然說程式是人寫出來的，但程式交易卻是非人性化的，如第二段所描述的只有「現在這個時間點〈是/否〉進出場」。它屏除了人的七情六慾，忽視了虧損時的時間長短和金額，這種耐心更勝過人性地、情緒化地進出市場，因為它只有一個原則「是否在此進出場」。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                        <h3 class="h4 mb-2">靈活</h3>
                        <p class="text-muted mb-0">EA 可以在使用者的平台上觀察各種交易商品，都可以設定參數使 EA 在不同的環節下使用不同的計策，計算能力極強的EA，可提供訊號參考，成為你在交易時的好幫手。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                        <h3 class="h4 mb-2">可回測</h3>
                        <p class="text-muted mb-0">參數設定其實只是開始，在真正開始使用EA前，為了其準確性，將先套用過去的大量真實資料歷史來驗證此交易程式是否可行，並且需要視其跑完回測後的狀況，找出其中的問題甚至更改原有參數。這樣便可確保EA在使用前，避免了應用在不同的產品時，出現問題。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action-->
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4 font-weight-bold">馬上體驗全自動的程式交易!</h2>
            <a class="btn btn-light btn-xl" data-toggle="modal" data-target="#loginModal">立即加入</a>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0 font-weight-bold">聯絡我們</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5">我們非常重視您的寶貴意見與建議，請直接在此處留下您的資訊，我們的客服人員將於一個工作天內與您聯繫。 或是您也可以透過以下方式與我們聯繫</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <!-- Line-->
                    <br />
                    <a href="@*https://lin.ee/lWKcYEI*@"><img height="36" border="0" src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"></a>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                    <a class="d-block" href="mailto:BestEASpace@gmail.com">BestEASpace@gmail.com</a>
                </div>
            </div>
        </div>
    </section>
    @if (TempData["RegisterDone"] == "ok")
    {
        <script>ShowLogin()</script>
    }
</body>
</html>
